*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bgBleufonce{
    background-color: #0F67B1;
    padding-bottom: 8px;
}

header {
    text-align: center;

}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header a {color: white;}

li {
    list-style: none;
    display: inline;
    text-align: center;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.spaceBetween {
    justify-content: space-between;
}

.nav {
    padding-top: 10px;
    width:50% ;
    margin: auto;
    font-size:15px ;
    font-family: "Inter", sans-serif;
}

.textCenter{
    text-align: center;
}

.bgGris{
    background-color: #EEEDEB;
}

.TextFooter{
    font-family: "Inter", sans-serif;
    color: white;
}

i {
    font-size: 30px;
    color: white;
}

.cartesProjets {
    width: 40%;
    background-color: #8927f1;
}

.boiteCartes {
    width: 70%;
    margin: auto;
    gap: 10px;
    background-color: red;
    justify-content: center;
}